body {
    font-family: sans-serif;
    color: #494949;
    margin: 0;
}

header {
    background-color: blue;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}
.logo{
    padding: 0px 80px;
    height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: rgba(76, 218, 20, 0.911);
    transition: .5s;
}

@media (max-width: 952px){
    .logo{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

main {
    width: 95vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo-bienvenidos {
    font-size: 36px;
    text-align: center;
    color: #494949;
    letter-spacing: 3px;
    margin: 200px 0 50px 0;
}

.texto-principal {
    text-align: center;
    color: #494949;
    letter-spacing: 3px;
}

.titulo-menu {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-tema {
    /*height: 240px;*/
    width: 90%;
    background-color: white;
    font-weight: 600;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.tarjeta-tema:hover {
    transform: scale(1.05);
    background-color: black;
}

.tarjeta-tema p{
    margin: 0;
    color: #494949;
}
.tarjeta-tema a{
    color: rgba(76, 218, 20, 0.911);
}

.img-tarjeta-tema {
    width: 300px;
    height: 200px;
}

.img-tarjeta-tema2 {
    width: 400px;
    height: 600px;
}

table {
    width: 100%;
}
 
th, td {
    width: 30%;
    text-align: center;
}

/*FOOTER*/

footer {
    background-color: black;
    color: #494949;
}

footer p {
    margin-right: 10px;
}

footer .contenedor {
    width: 80vw;
    margin: 0 auto;
    padding: 5px 0;
}

.contactos {
    display: flex; 
    justify-content: space-between;

}.mensajefinal {
    font-weight: 600; 
    font-size: 20px;
    display: flex; 
    justify-content: center;
}

/* Responsive layout */
@media (max-width: 600px) {

    header,
    body, footer {
        width: 100%;
        height: auto;
    }
}